
flask
flask-cors
gunicorn
requests
schedule
supabase
python-dotenv
google-generativeai
resend
stripe
pg8000
sentry-sdk
httpx
pydantic==1.10.8
playwright
pytz
psycopg2-binary
python-dateutil
dnspython
