CREATE TABLE IF NOT EXISTS public.staged_replies (
    id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
    ghl_contact_id TEXT NOT NULL,
    ghl_conversation_id TEXT,
    original_message TEXT,
    ai_reply TEXT,
    status TEXT DEFAULT 'pending_approval',
    -- 'pending_approval', 'approved', 'sent', 'rejected'
    channel TEXT,
    -- 'sms', 'email', 'fb', 'ig'
    created_at TIMESTAMPTZ DEFAULT now()
);
CREATE INDEX IF NOT EXISTS idx_staged_contact_id ON public.staged_replies(ghl_contact_id);
CREATE INDEX IF NOT EXISTS idx_staged_status ON public.staged_replies(status);